::ng-deep .modal-dialog {
    max-width: 70vw !important;
}

.required-field {
    color: red;
}

.purchase-form {
    .top-section-top {
        display: flex;
        gap: 25px;
        justify-content: space-between;

        .top-form-field {
            width: 33%;
        }
    }

    .summary {
        display: flex;
        gap: 25px;
    }

    .purchase-items-table th,
    .purchase-items-table td {
        vertical-align: middle;
    }

    .purchase-items-table th:last-child,
    .purchase-items-table td:last-child {
        text-align: center;
        width: 50px !important;
    }
}